{{ define "main" }} {{ partial "page-title.html" . }}

<!-- about -->
{{ if .Site.Data.about.about.enable }} {{ with .Site.Data.about.about }}
<section class="section about-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="about-item-img">
                    <img src="{{ .image | absURL }}" alt="" class="img-fluid w-100">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="about-item-content pl-4">
                    <h2 class="mb-4 content-title">{{ .title | markdownify }}</h2>
                    <p class="lead">{{ .leadContent | markdownify }}</p>
                    <p class="mb-4">{{ .content | markdownify }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }} {{ end }}
<!-- /aobut -->

<!-- gallery -->
{{ if .Site.Data.about.gallery.enable }} {{ partial "gallery.html" . }} {{ end }}
<!-- /gallary -->

<!-- history -->
{{ if .Site.Params.history.enable }} {{ partial "history.html" . }} {{ end }}
<!-- /history -->

<!--  Section RopeSkipper Start -->
{{ if .Site.Data.about.RopeSkipper.enable }} {{ with .Site.Data.about.RopeSkipper }}
<section class="section pt-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <div class="section-title">
                    <span class="text-color">{{ .subtitle | markdownify }}</span>
                    <h2 class="mt-3 content-title">{{ .title | markdownify }}</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            {{ range .RopeSkipperMember}}
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="RopeSkipper-item-wrap mb-5">
                    <div class="RopeSkipper-item position-relative">
                        <img src="{{ .image | absURL }}" alt="" class="img-fluid w-100">
                        <div class="RopeSkipper-img-hover">
                            <ul class="RopeSkipper-social list-inline">
                                {{ range .social }}
                                <li class="list-inline-item">
                                    <a href="{{ .link | safeURL }}" class="{{ .name }}"><i class="{{ .icon }}"></i></a>
                                </li>
                                {{end }}
                            </ul>
                        </div>
                    </div>
                    <div class="RopeSkipper-item-content">
                        <h4 class="mt-3 mb-0 text-capitalize">{{ .name }}</h4>
                        <p>{{ .nation }}</p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
        {{ if .button.enable }}
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    {{ with .button }}
                    <a href="{{ .link | absURL }}" class="btn btn-main rounded">{{ .label }}</a> {{ end }}
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</section>
{{ end }} {{ end }}
<!-- /RopeSkipper -->

{{ end }}