{{ define "main" }} {{ partial "page-title.html" . }}

<section class="section event">
    <div class="container">
        <div class="row justify-content-center">
            {{ $paginator := .Paginate .Data.Pages }} {{ range $paginator.Pages }}
            <div class="col-lg-4 col-md-6">
                <div class="card event-item mb-4">
                    <img src="{{ .Params.Image | absURL }}" class="card-img-top" alt="{{ .Title | markdownify }}">
                    <div class="card-body">
                        <h3 class="card-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h3>
                        <p class="card-text">{{ .Params.Association | markdownify }}</p>
                    </div>
                    <div class="list-group list-group-flush">
                        <div class="list-group-item list-group-item-1"><strong>Emblem : </strong>
                            <img src="{{ .Params.Emblem | absURL}}" class="card-img-top"></div>
                        <div class="list-group-item"><strong>Website : </strong> {{ .Params.Website | markdownify }}</div>
                        <div class="list-group-item"><strong>Contact : </strong> {{ .Params.Contact | markdownify }}</div>
                        <div class="list-group-item"><strong>Chairman : </strong> {{ .Params.Chairman | markdownify }}</div>
                    </div>
                    <a href="{{ .Permalink }}" class="btn btn-main-2">Learn More</a>
                </div>
            </div>
            {{ end }}
        </div>
        {{ template "_internal/pagination.html" . }}
    </div>
</section>

{{ end }}